/*****************************************TAG Selectors*********************************/
body { /*this gives a 0 margin for the body so the top div runs all the way across the page */ 
    margin: 0;

}
hr { /*controls the appearance of the horizontal rule under the navigation bar div */
        
        border-style: none;
        border-top-style: dotted;
        border-color: rgb(166, 75, 42);
        border-width:  4px;
        width: 40%
  }

   
  h1, h2, h3 { /* color for the headers*/
        color:rgb(166, 75, 42);
        
    }

    p, li, label, tr, a { /*color for the paragraphs, lists, form label, tabel rows, and a elements */ 
       color: rgb(142, 50, 0);
    }
   
    a:hover { /*all a elements will change color when you hover over */ 
        color: rgb(215, 168, 110);
    }


/*****************************************CLASS SELECTORS********************************/
/******************Notes:A class may be used on multiple elements in a page or site**/

 /*The class will allow changes to the 1st horizontal rule under each page's NavBar*/
 

 
 .divA { /*This class is for the div that holds the navigation bar; */
    background-color: rgb(255, 235, 193);
    margin: 0;
    padding: 35px;
    border-color: rgb(142, 50, 0);
    border-width: 100%;
    
}



 .mealPlan { /*class for Meal Plan image*/

    border: solid;
    border-radius: 10%;
    border-color: rgb(142, 50, 0);
    border-width: 10%;
    height: 200px;
    
}   

.war { /* class for War Game image */ 
    border: solid;
    border-radius: 10%;
    border-color: rgb(142, 50, 0);
    border-width: 10%;
    height: 200px;
    width: 22%;
    
    
}

.me { /* this is the class for the photo on the about page*/
    border: solid;
    border-radius: 10px;
    border-color: rgb(142, 50, 0);
    border-width: 10%;

}

.workExperienceTable, th, td { /*class for table under Work Experience */ 
    border: 1px solid;
    border-color: rgb(142, 50, 0);
    
}

.navBar { /*this is the class for the navigaiton bar at the top of each page */ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
